// * Colors
// /mnt/d/Projects/_Work/chat-app/node_modules/vuetify/src/styles/settings/_variables.scss
@import '~vuetify/src/styles/styles.sass';
$primaryColor: #29f709;

// * Fonts
$body-font-family: 'Montserrat';
$heading-font-family: 'Montserrat Alternates';
